* {
  margin: 0;
  font-family: arial;
}

a {
	text-decoration: none;
}

.container {
	background-color: silver;
	font-size: 20px;
	position: fixed;
	top: 0px;
	width: 100%;
}

.box-border {
	border: 1px solid silver;
	border-radius: 3px;
}

.left-margin {
	margin-left: 80px;
}

.search {
	margin-top: 80px;
}

.pages {
	margin-top: 30px;
	width: 320px;
}

.pages-button {
  font-size: 16px;
  display: inline-block;
  padding: 8px 15px;
}

.pages-display {
  font-size: 16px;
  padding: 0 30px;
  padding: 8px 25px;
  border-left: 1px solid #DDDDDD;
  border-right: 1px solid #DDDDDD;
}

.button {
	display: inline-block;
	width: 26px;
	vertical-align: middle;
}

.listings {
  padding: 0;
  margin-top: 40px;
}

.listing {
  list-style: none;
  margin-bottom: 15px;
}

.listing-date, .listing-location {
  color: #999;
}

.listing-title {
  font-weight: bold;
  font-size: 17px;
  margin-left: 8px;
  margin-right: 8px;
}

.search-button {
  vertical-align: bottom;
}

nav {
	height: 50px;
}

nav p {
	display: inline-block;
	margin-left: 15px;
	margin-top: 12px;
	margin-bottom: 12px;
}

nav ul {
	display: block;
	list-style: none;
	float: right
}

nav li {
	display: inline-block;
	margin-right: 15px;
	margin-top: 12px;
	margin-bottom: 12px;
}

/*nav a {
	text-decoration: none;
}*/

label {
	display: block;
	margin-bottom: 8px;
}

form {
	display: inline-block;
}

input {
	width: 450px;
	height: 28px;
	box-sizing: border-box;
	padding-left: 4px;
	color: grey;
}


