* {
  margin: 0;
  font-family: arial;
}

.container {
	background-color: silver;
	font-size: 20px;
	position: fixed;
	top: 0px;
	width: 100%;
}

.box-border {
	border: 1px solid silver;
}

.search {
	margin-top: 80px;
	margin-left: 80px;
}

.button {
	border-radius: 3px;
	display: inline-block;
	width: 26px;
	vertical-align: middle;
}

.pages {
	margin-top: 30px;
	margin-left:80px;
}

.results {
	margin-top: 60px;
	margin-left: 80px;
}

label {
	display: block;
	margin-bottom: 8px;
}

form {
	display: inline-block;
}

input {
	width: 450px;
	height: 24px;
	border: 1px solid silver;
	border-radius: 3px;
	padding-left: 4px;
	color: grey;
}

nav {
	height: 50px;
}

nav p {
	display: inline-block;
	margin-left: 15px;
	margin-top: 12px;
	margin-bottom: 12px;
}

nav ul {
	display: block;
	list-style: none;
	float: right
}

nav li {
	display: inline-block;
	margin-right: 15px;
	margin-top: 12px;
	margin-bottom: 12px;
}

nav a {
	text-decoration: none;
}
